@font-face {
  font-family: "Georgia Regular";
  src: url(../fonts/Georgia_Regular.ttf);
}

$colorLimeade: #81b300;
$colorShaft: #333;
$colorGray: #999;
$colorCerulean: #00acee;
$colorWhite: #fff;

$textFont: "Georgia Regular", sans-serif;
